<a href="https://colab.research.google.com/github/Faizansa2000/PublicProjects/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**



*   List popular languages for Data Science
*   List commonly used libraries for Data Science
*   List Data Science Tools
*Write a mathematical expression

Some of the popular languages that Data Scientists use are:



1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:



1.   Numpy
2.   Scikit-learn
3.   Pandas

| Data Science Tools |
| -------- |
|Jupyter Notebooks|
|Visual Studio Code|
|Github|

###Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Author
Faizan